main{
    background-image: url('https://sites.create-cdn.net/siteimages/38/6/3/386311/19/8/9/19893768/1000x1000.jpg?1648204552');
    background-position: center;
    background-size: contain;
    color: red;
    label{
        font-size: 30px;
    }
}
